<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleBlog - Julia Walker's Personal Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body class="light-theme">
    {{> header}}
    {{{body}}}
    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        // navbar variables
        const nav = document.querySelector('.mobile-nav');
        const navMenuBtn = document.querySelector('.nav-menu-btn');
        const navCloseBtn = document.querySelector('.nav-close-btn');

        // navToggle function
        const navToggleFunc = function () { nav.classList.toggle('active'); }

        navMenuBtn.addEventListener('click', navToggleFunc);
        navCloseBtn.addEventListener('click', navToggleFunc);

        // theme toggle variables
        const themeBtn = document.querySelectorAll('.theme-btn');

        for (let i = 0; i < themeBtn.length; i++) {
            themeBtn[i].addEventListener('click', function () {
                // toggle `light-theme` & `dark-theme` class from `body`
                // when clicked `theme-btn`
                document.body.classList.toggle('light-theme');
                document.body.classList.toggle('dark-theme');

                for (let i = 0; i < themeBtn.length; i++) {

                    // When the `theme-btn` is clicked,
                    // it toggles classes between `light` & `dark` for all `theme-btn`.
                    themeBtn[i].classList.toggle('light');
                    themeBtn[i].classList.toggle('dark');
                }
            })
        }
    </script>
</body>

</html>
